body{
    background-color: rgb(231, 231, 255);
}

h1{
    color: rgb(8, 92, 167);
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


h2{
    color: rgb(244, 247, 64);
    background-color: rgba(176, 194, 243, 0.938);
    display: flex;
    justify-content: center;
    align-items: center;

}


.lista{

    color: rgb(25, 29, 241);
    font-size: 1.0rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(176, 194, 243);}


    .formularios{
        max-width: 300px;
        margin: 0 auto;
        padding: 55px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    
    .form-group {
        margin-bottom: 10px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    input[type="submit"] {
        background-color: #a7b7c4;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }
    
    input[type="submit"]:hover {
        background-color: rgb(82, 99, 196);
    }
    
 button{
      background-color: rgb(233, 250, 158);
      border: rgb(213, 238, 104) ;
      border-radius: 0.8rem;
      box-shadow: none;
      padding: 8px;
      margin: 5px auto;
      transition: background-color 0.8s ease;
    }
    
 button:hover{
       background-color:rgba(131, 142, 241, 0.719) ;
    }